[Desktop Entry]
Name=G-Sudoku
Comment=A sudoku solver and generator
Comment[pl]=Program do rozwiązywania i tworzenia sudoku
Exec=gsudoku
Icon=gsudoku
Terminal=false
Type=Application
Categories=GTK;Game;BoardGame;
# vi: encoding=utf-8
